
/* 内容 */
.lt_container {
    // position: relative;
    height: 100%;
    position: relative;
    img {
        width: 100%;
        display: block;
    }
    .mui-slider-indicator {
        margin-bottom: 20px;
    }
    /* 商品导航 */
    .lt_nav {
        a {
            float: left;
            width: 33.3%;
            img {
                width: 100%;
                display: block;
            }
        }
    }
    /* 商品列表 */
    .lt_goods_list {
        width: 100%;
        border-top: 1px solid #ccc;
        margin: 5px 0;
        a:nth-child(1) {
            width: 67%;
            float: left;
            img {
                width: 50%;
                float: left;
                display: block;
            }
        }
        a:nth-child(2) {
            width: 33%;
            float: right;
            img {
                width: 100%;
                display: block;
            }
        }
        a:nth-child(3) {
            width: 67%;
            float: left;
            img {
                width: 50%;
                float: left;
                display: block;
            }
        }
    }
    /* 品牌 */
    .lt_brand {
        // padding: 5px;
        img {
            width: 100%;
            display: block;
        }
        >ul {
            * {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                width: 25%;
                float: left;
            }
        }
        .brand_list {
            // box-sizing: border-box;
            .list_border {
                width: 100%;
                box-shadow: 0 0 5px #ccc;
                text-align: center;
                padding: 10px 0;
            }
            a {
                float: left;
                width: 50%;
                padding: 0 5px;
                margin-bottom: 10px;
                img {
                    display: block;
                    width: 100%;
                }
                .brand_list_name {
                    padding: 5px 10px;
                    height: 36px;
                    line-height: 18px;

                }
                .new_price {
                    font-size: 12px;
                    color: #f30;
                    margin-right: 10px;
                }
                .old_price {
                    font-size: 12px;
                    color: #ccc;
                    text-decoration: line-through;
                }
                button {
                    background: #007aff;
                    color: white;
                }
            }
        }
    }
}


