.lt_header {
    .lt_title_user {
        position: relative;
        color: white;
        a {
            position: absolute;
            left: 0;
            display: block;
            top: 0;
            i {
                color: white;
            }
        }
    }
}

.user_container {
    padding: 20px 0;
    .mui-btn {
        width: 100%;
        margin-top: 10px;
        background: orangered;
        border: 1px solid orangered;
    }
    input[type='submit']:enabled:active,
    input[type='submit'].mui-active:enabled,
    .mui-btn-primary:enabled:active,
    .mui-btn-primary.mui-active:enabled,
    .mui-btn-blue:enabled:active,
    .mui-btn-blue.mui-active:enabled{
        background: orange;
        border: 1px solid orange;
    }
    a{
        padding: 10px 10px 0 0;
        float: right;
        font-size: 14px;
    }
}